@media (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .row {
    margin: 0 auto;
  }
  .block-3__left {
    margin: -4%;
  }
}

@media (min-width: 640px) {
  header {
    padding-top: 15px;

    .logo {
      margin: 0;
      width: 172px;
    }

    .menu-top {
      padding: 0;
      margin: 0;
    }
  }

  .block-1 {

    &__block-title {
      width: 400px;
    }

    &__astronaut {
      left: 375px;
      top: 80px;
    }

    &__small-text {
      width: 530px;
    }
  }

  .block-2 {

    &__block-title {
      width: 570px;
    }

    &__right {
      .text {
        width: 570px;
      }
    }
  }

  .block-3 {

    &__small-text {
      width: 600px;
    }

  }

  .block_4 {
    .cards {
      .card {
        width: 576px;
        height: 200px;

        &__title {
          width: 600px;
        }

        &__small-text {
          width: 550px;
        }
      }
    }
  }

  .block-5 {
    background: #222222;

    .monitor-text {
      &_top {
        width: 510px;
      }

      &_bottom {
        width: 600px;
      }
    }

    &__block-tittle {
      width: 400px;
    }

    .tickers {
      &__ticker {
        font-size: 50px;
        line-height: 70px;
        letter-spacing: 1px;
      }
    }

    .icons {

      &__icon-description {
        width: 470px;
      }
    }

  }

  .block_7 {

    .block-title {
      width: 400px;
    }

    .form-btn {
      width: 263px;
    }
  }

  .footer {

    &__small-text {
      width: 300px;
    }
  }


}

@media (min-width: 768px) {
  header {
    padding-top: 30px;

    .logo {
      width: 192px;
    }
  }
  .section {
    &__row-content, &__col-content {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    &__col-content {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  .block-title {
    font-size: 50px;
    line-height: 60px;
  }


  .block-1 {

    &__block-title {
      padding-top: 200px;
      font-size: 70px;
      line-height: 85px;
      letter-spacing: 1.4px;
      width: 700px;
    }

    &__astronaut {
      width: 258px;
      left: 470px;
      top: 260px;
    }

  }

  .block-2 {

    &__block-title {
      width: 450px;
    }

    &__right {
      .text {
        width: 450px;
      }
    }
  }

  .block-3 {

    &__small-text {
      width: 500px;
    }

  }

  .block_4 {
    .cards {
      .card {
        width: 690px;
        height: 200px;

        &__title {
          width: 500px;
        }

        &__text {
          margin-left: 20px;
        }

        &__small-text {
          width: 600px;
        }
      }
    }
  }

  .block-5 {
    background: #222222;

    .monitor-text {
      &_top {
        margin-bottom: 50px;
        width: 510px;
      }

      &_bottom {
        margin-top: 50px;
        width: 600px;
      }
    }

    &__block-tittle {
      width: 600px;
    }

    .tickers {
      &__ticker {
        font-size: 60px;
        line-height: 70px;
        letter-spacing: 1.2px;
      }
    }

    .icons {
      &__icon-description {
        width: 275px;
      }
    }

  }

  .block_7 {

    .block-title {
      width: 600px;
    }

    .form-btn {
      width: 320px;
    }
  }

  .footer {

    &__small-text {
      width: 500px;
      font-size: 20px;
      line-height: 50px;
    }
  }

}

@media (min-width: 1024px) {
  header {
    padding-top: 30px;

    .logo {
      width: 192px;
    }
  }
  .section {
    &__row-content, &__col-content {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
  .block-title {
    font-size: 50px;
    line-height: 60px;
  }


  .block-1 {

    &__block-title {
      padding-top: 0;
      font-size: 80px;
      line-height: 96px;
      letter-spacing: 1.4px;
      width: 1000px;
    }

    &__small-text {
      line-height: 20px;
    }

    &__astronaut {
      left: 620px;
      top: 190px;
    }
  }

  .block-2 {

    &__block-title {
      width: 450px;
    }

    &__right {
      .text {
        width: 350px;
        margin-bottom: 40px;
      }
    }
  }

  .block-3 {

    &__small-text {
      width: 350px;
    }

  }

  .block_4 {
    .cards {
      .card {
        width: 282px;
        height: 464px;

        &__title {
          width: 250px;
        }

        &__text {
          margin-left: 20px;
        }

        &__small-text {
          width: 250px;
        }
      }
    }
  }

  .block-5 {
    background: #222222;

    .monitor-text {
      &_top {
        margin-bottom: 60px;
        width: 510px;
      }

      &_bottom {
        margin-top: 60px;
        width: 600px;
      }
    }

    &__block-tittle {
      margin-bottom: 60px;
      width: 600px;
    }

  }

  .block_7 {

    .block-title {
      width: 600px;
    }

    .form-btn {
      width: 354px;
      height: 68px;
    }
  }

  .footer {
    &__logo {
      width: 162px;
    }

    &__small-text {
      width: 500px;
      font-size: 20px;
      line-height: 50px;
    }

    .section__row-content {
      padding-top: 140px;
      padding-bottom: 140px;
    }
  }

}

@media (min-width: 1366px) {
  .block-title {
    font-size: 60px;
    line-height: 70px;
  }


  .block-1 {

    &__block-title {
      font-size: 80px;
      line-height: 96px;
      letter-spacing: 1.4px;
    }

    &__astronaut {
      left: 790px;
    }
  }

  .block-2 {

    &__block-title {
      width: 550px;
    }

    &__right {
      .text {
        width: 450px;
      }
    }
  }

  .block-3 {

    &__small-text {
      width: 350px;
    }

  }

  .block_4 {
    .cards {
      .card {
        width: 282px;
        height: 464px;

        &__title {
          width: 250px;
        }

        &__text {
          margin-left: 20px;
        }

        &__small-text {
          width: 250px;
        }
      }
    }
  }

  .block-5 {
    background: #222222;

    .monitor-text {
      &_top {
        margin-bottom: 60px;
        width: 510px;
      }

      &_bottom {
        margin-top: 60px;
        width: 600px;
      }
    }

    &__block-tittle {
      margin-bottom: 60px;
      width: 600px;
    }

  }

  .block_7 {

    .block-title {
      width: 600px;
    }

    .form-btn {
      width: 354px;
      height: 68px;
    }
  }

  .footer {
    &__logo {
      width: 162px;
    }

    &__small-text {
      width: 500px;
      font-size: 20px;
      line-height: 50px;
    }

    .section__row-content {
      padding-top: 140px;
      padding-bottom: 140px;
    }
  }
}