@media (min-width: 640px) {
  header {
    padding: 20px 20px;

    .logo {
      margin: 0;
      width: 172px;
    }

    .menu-top {
      padding: 0;
      margin: 0;
      justify-content: flex-end;

      li {
        &:not(:first-child) {
          padding-left: 25px;
        }
      }
    }
  }

  .block-1 {
    padding-top: 50px;

    &__astronaut {
      left: 375px;
      top: 80px;
    }

    &__small-text {
      width: 530px;
    }
  }

  .block_4 {
    .cards {
      .card {
        min-height: 200px;

        &__text {
          bottom: 30px;
        }
      }
    }
  }

  .block-5 {
    background: #222222;

    .tickers {
      &__ticker {
        font-size: 50px;
        line-height: 70px;
        letter-spacing: 1px;
      }
    }

  }

  .block_7 {
    .form-btn {
      width: 263px;
    }
  }


}

@media (min-width: 768px) {
  header {
    padding: 30px 30px;

    .menu-top {
      li {
        &:not(:first-child) {
          padding-left: 45px;
        }
      }
    }

    .logo {
      width: 192px;
    }
  }
  .section {
    &__row-content, &__col-content {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    &__col-content {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  .block-title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 50px;
  }


  .block-1 {
    padding-top: 70px;

    &__block-title {
      padding-top: 200px;
      font-size: 70px;
      line-height: 85px;
      letter-spacing: 1.4px;
    }

    &__astronaut {
      width: 258px;
      left: 470px;
      top: 260px;
    }

  }

  .block_4 {
    .cards {
      .card {
        min-height: 200px;
      }
    }
  }

  .block-5 {
    background: #222222;

    .monitor-text {
      &_top {
        margin-bottom: 50px;
      }

      &_bottom {
        margin-top: 50px;
      }
    }

    .tickers {
      &__ticker {
        font-size: 60px;
        line-height: 70px;
        letter-spacing: 1.2px;
      }
    }

  }

  .block_7 {

    .form-btn {
      width: 320px;
    }
  }

  .footer {

    &__small-text {
      font-size: 20px;
      line-height: 50px;
    }
  }

}

@media (min-width: 1024px) {
  header {

    .logo {
      width: 192px;
    }
  }
  .section {
    &__row-content, &__col-content {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
  .block-title {
    font-size: 50px;
    line-height: 60px;
  }


  .block-1 {

    &__block-title {
      padding-top: 0;
      font-size: 80px;
      line-height: 96px;
      letter-spacing: 1.4px;
    }

    &__small-text {
      line-height: 20px;
    }

    &__astronaut {
      left: 620px;
      top: 190px;
    }
  }

  .block-2 {

    &__right {
      .text {
        margin-bottom: 40px;
      }
    }
  }

  .block_4 {
    .cards {
      .card {
        min-height: 464px;

        &__text {
          bottom: 70px;
        }
      }
    }
  }

  .block-5 {
    background: #222222;

    .monitor-text {
      &_top {
        margin-bottom: 60px;
      }

      &_bottom {
        margin-top: 60px;
      }
    }

  }

  .block_7 {

    .form-btn {
      width: 354px;
      height: 68px;
    }
  }

  .footer {
    &__logo {
      width: 162px;
    }

    &__small-text {
      font-size: 20px;
      line-height: 50px;
    }

    .section__row-content {
      padding-top: 140px;
      padding-bottom: 140px;
    }
  }

}

@media (min-width: 1366px) {
  .block-title {
    font-size: 60px;
    line-height: 70px;
  }


  .block-1 {

    &__block-title {
      font-size: 80px;
      line-height: 96px;
      letter-spacing: 1.4px;
    }

    &__astronaut {
      left: 790px;
    }
  }

  .block_4 {
    .cards {
      .card {
        min-height: 464px;

        &__text {
          bottom: 70px;
        }
      }
    }
  }

  .block-5 {

    .monitor-text {
      &_top {
        margin-bottom: 60px;
      }

      &_bottom {
        margin-top: 60px;
      }
    }

  }

  .block_7 {
    .form-btn {
      width: 354px;
      height: 68px;
    }
  }

  .footer {
    &__logo {
      width: 162px;
    }

    &__small-text {
      font-size: 20px;
      line-height: 50px;
    }

    .section__row-content {
      padding-top: 140px;
      padding-bottom: 140px;
    }
  }
}

@media (min-width: 1920px) {
  .block-1 {
    &__astronaut {
      left: 1060px;
    }
  }
}