$transition_speed: .2s;
header {
  padding-top: 50px;
  background-color: #000;
  .row {
    align-items: end;
  }
  .logo {
    width: 192px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  nav ul,nav li {
    list-style: none;
  }

  a {
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }

  .nav_item {
    transition: $transition_speed;

    &:hover, &:focus {
      color: #ffffff;
    }
  }
}
body {
  position: relative;
  overflow-x: hidden;
}
.footer {
  background-color: #222222;

  &__block-title {
    padding-top: 150px;
    color: #FFFFFF;

    span {
      display: block;
      // как перебить стиль?
      color: #4F6168;
      text-decoration: line-through;
    }
  }

  &__gratitude {
    font: normal normal normal 20px/50px Montserrat;
    letter-spacing: 0;
    color: #FFFFFF;
  }

  &__logo {
    width: 160px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 50px;

    img {
      width: 100%;
    }
  }
}
button {
  background: none;
  border: none;
}
form {
  margin: 30px;
  color: white;

  input {
    background: #000;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
    width: 700px;
    color: white;
    font: normal normal normal 30px/50px Montserrat;
  }

  *::placeholder {
    color: white;
    font: normal normal normal 30px/50px Montserrat;
  }

  svg {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: 800px;
    margin-top: -20px;
  }

}



.form_layer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 999;
}
.form {
  position: fixed;
  top: 15%;
  left: 25%;
  width: 911px;
  height: 711px;
  background: #222222;

  .block-title {
    color: white;
    width: 400px;
  }


}
.section {
  &__row-content {
    padding-top: 200px;
    padding-bottom: 200px;

    &_p160 {
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }

  &__col-content {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.small-text {
  word-break: break-word;
  color: #A3B9C2;
  letter-spacing: 0px;
  font: normal normal normal 14px/24px Montserrat;
}
.block-title {
  word-break: break-word;
  font-size: 60px;
  line-height: 70px;
  font-family: Russo One;
  letter-spacing: 1.2px;

  &_light {
    color: white;
  }

  &_dark {
    color: black;
  }

  span {
    color: #00CAE5;
    max-width: 100%;
  }
}
.text, .block-title, .small-text {
  max-width: 100%;
}

