/*
TODO
    Блок 2
    Исправить показ формы - это к magnificPopup относится
    Блок 3
    Ограничить ширину блока с картинкой
    Блок 5
    Неправильная верстка иконок. Вынести hover/focus из служебных классов бутстрапа.
    Блок 6
    Надо сверстать
    Блок 7
    Переверстать кнопку на псевдоэлементы
    Наведение по дизайну
    Вынести header из блока в шаблон сайта
    Переделать col на явные col-* классы - это к адаптиву
    Сделать секции страницы одним css-классом с модификатороми
    Начинай разделять scss на маленькие файлы, включаемые в большой - полезно для масштабирования проекта
*/
@import "../node_modules/bootstrap/scss/bootstrap";
@import "fonts";
@import "normalize";
@import "container";

.form {
  position: absolute;
  background: red;
  height: 100%;
  width: 100%;
  z-index: -10;
}

$transition_speed: .2s;
header {
  padding-top: 20px;
  background-color: #000;

  .row {
    //align-items: end;
  }

  .logo {
    width: 114px;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  .menu-top {
    padding: 15px 0 0 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    li {
      &:not(:first-child){
        padding-left: 17px;
    }
      display: inline-block;
    }
  }

  .menu-top__item {
    transition: $transition_speed;
    color: #4A5454;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;

    &:hover, &:focus {
      color: #ffffff;
    }
  }
}

body {
  position: relative;
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
}

form {
  margin: 30px;
  color: white;

  input {
    background: #000;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
    width: 700px;
    color: white;
    font: normal normal normal 30px/50px Montserrat;
  }

  *::placeholder {
    color: white;
    font: normal normal normal 30px/50px Montserrat;
  }

  svg {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: 800px;
    margin-top: -20px;
  }

}

.form_layer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 999;
}

.form {
  position: fixed;
  top: 15%;
  left: 25%;
  width: 911px;
  height: 711px;
  background: #222222;

  .block-title {
    color: white;
    //width: 400px;
  }


}

.section {
  &__row-content, &__col-content {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.small-text {
  word-break: break-word;
  color: #A3B9C2;
  letter-spacing: 0px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
}

.block-title {
  word-break: break-word;
  font-size: 30px;
  line-height: 40px;
  font-family: Russo One;
  letter-spacing: 1.2px;

  &__subtitle {
    display: inline-block;
    color: #00CAE5;
    max-width: 100%;
  }

  &_light {
    color: white;
  }

  &_dark {
    color: black;
  }
}

.text, .block-title, .small-text {
  max-width: 100%;
}

.block-1 {
  min-height: 100vh;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 110% 110%;

  &__block-title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.8px;
    margin: 0 auto;
    //width: 200px;
  }

  &__astronaut {
    position: absolute;
    width: 125px;
    left: 165px;
    top: 175px;
    z-index: 1;

    img {
      width: 100%;
      z-index: 2;
    }
  }

  &__small-text {
    font-size: 12px;
    line-height: 18px;
    //width: 250px;
    margin: 30px auto 0;
  }

  &__ready {
    display: none;
  }
}

.block-2 {
  background-color: #EEF5F6;

  .open_form {
    text-decoration: none;
    color: #00CAE5;

    &:hover {
      & svg {
        transition: $transition_speed;
        margin-left: 3%;
      }
    }
  }

  &__block-title {
    //width: 280px;
  }

  &__left {

    margin-bottom: 30px;

    .block-title__subtitle {
      display: block;
    }
  }

  &__right {
    position: relative;

    .text {
      //width: 250px;
      margin-bottom: 30px;
    }

  }

  &__small-text {
    color: #222222;
  }
}

.block-3 {
  background-color: #222222;

  &__right {
  }

  &__small-text {
    //width: 260px;
  }

  &__left {
    padding: 0;
    background-color: #4A2B39;
    background-image: url('../photos/nasa-rTZW4f02zY8-unsplash-resize.jpg');
    background-size: cover;
    background-position: 0, 0, 0, 100px, 0, 0;
    background-repeat: no-repeat;
  }

  &__text {
  }

  &__block-title {
    margin-bottom: 30px;
  }

}

.block_4 {
  background: linear-gradient(160deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(238, 245, 246, 1) 50%);

  .cards {
    .card {
      position: relative;
      padding: 0 15px;
      margin: 0 auto 30px;
      border: none; // откуда рамка?
      width: 100%;
      min-height: 355px;
      color: rgba(255, 255, 255, .7);
      background-color: #EEF5F6;
      background-position: 0, 0, 0, 100px, 0, 0;
      background-repeat: no-repeat;
      background-size: cover;
      transition: $transition_speed;

      &:hover, &:focus {
        transform: translateY(-20px);
        box-shadow: 10px 10px 30px 1px rgb(0 77 88 / 44%);
        color: rgba(255, 255, 255, 1);
        cursor: pointer;

        .small-text {
          color: #FFFFFF; // нужно ли создавать вложенность в HTML и прописать & .small-text?
        }
      }


      &__title {
        font: 30px/35px Russo One;
        word-break: break-word;
        //width: 230px;
        margin-bottom: 20px;
      }

      &__text {
        letter-spacing: 0.6px;
        max-width: 100%;
        position: absolute;
        bottom: 55px;
      }

      &__small-text {
        color: rgba(255,255,255, .3);
        //width: 230px;
      }
    }
  }
}

.block-5 {
  background: #222222;

  .monitor-text {
    &_top {
      margin: 0 auto 25px;
      //width: 250px;

    }

    &_bottom {
      margin: 25px auto 0;
      //width: 250px;

    }
  }

  &__block-tittle {
    //width: 200px;
    margin: 0 auto 25px;
  }

  .tickers {
    &__ticker {
      font: 30px/70px Russo One;
      letter-spacing: 0.6px;
      color: #555555;
      width: 300%;

      span {
        color: #00CAE5;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .icons {
    padding-top: 200px;
    color: #A3B9C2;

    &__icon:hover, &__icon:focus {
      color: #ffffff;
      cursor: pointer;

      &__icon-line {
        opacity: 1;
      }

      & .icons__icon-description {
        color: #ffffff;
      }
    }

    &__icon-title {
      font: 30px/40px Russo One;
      letter-spacing: 0.6px;
      margin-bottom: 20px;
      margin-top: 30px;
    }

    &__icon-line {
      opacity: 0;
      width: 50%;
      border: 1px solid white;
      margin-left: 25%;
      margin-top: 40px;
    }

    &__icon-description {
      //width: 260px;
      margin: 0 auto;
    }
  }

}

.block_6 {
  .block-title {
    margin-top: 200px;
    margin-bottom: 100px;
  }

  .slider_container {
    font: normal normal italic 30px/50px Montserrat;
    letter-spacing: 0px;
    color: #222222;
    margin-bottom: 200px;
    margin-left: 300px;
    width: max-content;

    .slide {
      width: 700px;
      display: inline-block;
      margin-right: 200px;

      .slide_bottom {
        font-size: 20px;
        line-height: 50px;
        margin-top: 70px;
      }

      &.hidden {
        opacity: .1;
      }

      &.active {
      }

      &.right {
        opacity: .5;
      }
    }
  }
}

.block_7 {
  background-color: #222222;
  background-image: url('../photos/nasa-pd4lo70LdbI-unsplash-resize.png');
  background-size: contain;
  background-position-x: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;

  .layer {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.134);
  }

  .block-title {
    //width: 180px;
    margin-bottom: 30px;
  }

  .form-btn {
    position: relative;
    font: 16px/50px Montserrat;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 247px;
    height: 68px;
    transition: $transition_speed ease-out, background-color 0s;

    &::before {
      transition: $transition_speed ease-out;

      content: '';
      position: absolute;
      border-right: 1px solid #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
      height: 100%;
      width: 100%;
      left: 15px;
      top: 10px;
    }

    &:hover {
      transform: translateX(10px) translateY(5px);
      background-color: #FFFFFF;
      color: black;

      &:before {
        left: 5px;
        top: 5px;
      }
    }
  }
}

.footer {
  background-color: #222222;

  &__small-text {
    color: #FFFFFF;
    //width: 173px;
    margin: 0 auto;
  }

  &__block-title {
    color: #FFFFFF;
    margin-bottom: 15px;

    span {
      display: block;
      // как перебить стиль?
      color: #4F6168;
      text-decoration: line-through;
    }
  }

  &__logo {
    width: 160px;
    margin: 0 auto 50px;

    img {
      width: 100%;
    }
  }
}


@import "adaptive";

$grid-breakpoints: (
        xs: 0,
        sm: 640px,
        md: 768px,
        lg: 992px,
        xl: 1230px
);
