$grid-breakpoints: (
        xs: 0,
        sm: 640px,
        md: 768px,
        lg: 1024px,
        xl: 1366px,
        xxl: 1920px
) !default;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Russo One', sans-serif;

$color-primary: #222;
$color-secondary: #00CAE5;
$color-tertiary: #A3B9C2;

$transition_speed: .2s;

