.footer {
	background-color: #222222;
	padding-bottom: 50px;

	&__small-text {
		color: #FFFFFF;
		max-width: 197px;

	}

	&__block-title {
		margin-bottom: 15px;
		color: #FFFFFF;

		span {
			display: block;
			color: #4F6168;
			text-decoration: line-through;
		}
	}

	&__logo {
		width: 162px;
		margin: 0 auto;

		img {
			width: 100%;
		}
	}
}
@media (min-width: $bp-sm) {
	.footer{
		&__small-text{
			max-width: 100%;

		}
	}
}
@media (min-width: $bp-md) {
	.footer {

		&__small-text {
			font-size: 20px;
			line-height: 50px;

		}
	}
}

@media (min-width: $bp-lg) {
	.footer {
		&__logo {
			width: 162px;
		}

		&__small-text {
			max-width: 100%;
			font-size: 20px;
			line-height: 50px;
		}

		.section__row-content {
			padding-top: 140px;
			padding-bottom: 140px;
		}
	}
}

@media (min-width: $bp-xl) {
	.footer {
		&__logo {
			width: 162px;
		}

		&__small-text {
			font-size: 20px;
			line-height: 50px;
		}

		.section__row-content {
			padding-top: 140px;
			padding-bottom: 140px;
		}
	}
}
