
body {
	position: relative;
	overflow-x: hidden;
	font-family: $font-primary;
	font-weight: 500;
	font-size: 14px;
	color: $color-text;
}
 .cards{
	 margin-bottom: -30px;
 }
.block-1 {
	min-height: 100vh;
	padding-top: 100px;
	background-color: #000000;
	background-repeat: no-repeat;
	background-size: 110% 110%;
	background-position-y: 100px;
	position: relative;

	&__block-title {
		margin-bottom: 20px;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: 0.8px;
	}

	&__astronaut {
		position: absolute;
		width: 125px;
		left: 165px;
		top: 175px;
		z-index: 1;

		img {
			width: 100%;
			z-index: 2;
		}
	}

	&__description {
		font-size: 12px;
		line-height: 18px;
		margin: 0 auto;
	}

	&__ready {
		display: none;
		text-decoration: none;
		color: #FFFFFF;

		svg {
			transition: transform $transition_speed ease-out;
			display: block;
			margin: 10px auto;
		}

		&:hover {
			& svg {
				transform: translateY(10px);
			}
		}
	}
}

.block-2 {
	background-color: #EEF5F6;

	.open_form {
		text-decoration: none;
		color: $color-secondary;

		svg {
			transition: transform $transition_speed ease-out;
			vertical-align: middle;
		}

		&:hover {
			& svg {
				transform: translateX(10px);
			}
		}
	}

	&__left {
		.block-title__subtitle {
			display: block;
		}
	}

	&__right {
		position: relative;

		.text {
			margin-bottom: 30px;
		}
	}

	&__small-text {
		color: black;
	}
}

.block-3 {
	background-color: #222222;

	&__left {
		padding: 0;
		background-color: #4A2B39;
		background-image: url('../../images/nasa-rTZW4f02zY8-unsplash-resize.jpg');
		background-size: cover;
		background-position:-80px 0;
		background-repeat: no-repeat;
	}

}

.block_4 {
	background: linear-gradient(160deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(238, 245, 246, 1) 50%);
}

.block-5 {
	background: #222222;
	.monitor-text {
		&_top {
			margin: 26px auto 26px;
		}

		&_bottom {
			margin: 26px auto 40px;
		}
	}

	&__block-title {
		margin-bottom: 0;
	}


}
.block-6{
	background-color: #EEF5F6;
}
.block-7 {
	height: 570px;
	background-color: #222222;
	background-image: url('../../images/nasa-pd4lo70LdbI-unsplash-resize.png');
	background-size: contain;
	background-position-x: 100%;
	background-position-y: 100%;
	background-repeat: no-repeat;
}


.owl-stage{
	display: flex;
}
.str_wrap{
	background-color: inherit;
}

// banner
.block-3__banner {
	height: 400px;
    width: 100vw;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}

@media (min-width: $bp-sm) {

	.block-3__banner {
		height: 290px;
	}
}

@media (min-width: $bp-md) {

	.block-3__banner {
		height: 438px;
	}
}

@media (min-width: $bp-lg) {

	.block-3__aside {
		position: relative;
	}

	.block-3__banner {
		width: auto;
		background-position: center right !important; // временно, не используем без необходимости
		position: absolute;
		top: 0;
		right: 0;
		width: 50vw;
		transform: none;
		left: auto;
		height: 100%;
	}
}

.block-5 {
	overflow: hidden;
}
