.btn {
	position: relative;
	font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    width: 100%;
    transition: transform .2s ease-out;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;

	&::before {
		transition: transform $transition_speed ease-out;
		content: '';
		position: absolute;
		border-right: 1px solid #FFFFFF;
		border-bottom: 1px solid #FFFFFF;
		height: 100%;
		width: 100%;
		left: 15px;
		top: 10px;
	}

	&:hover, &:focus {
		transform: translate(10px, 5px);
		background-color: #FFFFFF;
		color: black;

		&:before {
			transform: translate(-10px, -5px);
		}
	}
}
.btn_default{
	max-width: 247px;
	height: 68px;
}
.btn_in-form {
	max-width: 200px;
	height: 68px;
}
.btn_blue{
	border-color: #00cae5;
	&:hover, &:focus {
		background-color: #00cae5;
	}
	&:before{
		border-color: #00cae5;
	}
}
.btn_disabled {
	opacity: 0.5;
	cursor: default;
}

@media (min-width: $bp-sm) {
	.btn_default {
		max-width: 263px;
	}
	.btn_in-form {
		max-width: 344px;
	}
}

@media (min-width: $bp-md) {
	.btn_default {
		max-width: 320px;
	}
	.btn_in-form {
		max-width: 364px;
	}
}

@media (min-width: $bp-lg) {
	.btn_default {
		max-width: 354px;
		height: 68px;
	}
}

@media (min-width: $bp-xl) {
	.btn_default {
		max-width: 354px;
		height: 68px;
	}
}
