.btn {
	position: relative;
    font: 16px/50px"Montserrat",sans-serif;
    color: #fff;
    border: 1px solid #fff;
    width: 100%;
    max-width: 247px;
    height: 68px;
    transition: transform .2s ease-out;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;

	&::before {
		transition: transform $transition_speed ease-out;
		content: '';
		position: absolute;
		border-right: 1px solid #FFFFFF;
		border-bottom: 1px solid #FFFFFF;
		height: 100%;
		width: 100%;
		left: 15px;
		top: 10px;
	}

	&:hover, &:focus {
		transform: translate(10px, 5px);
		background-color: #FFFFFF;
		color: black;

		&:before {
			transform: translate(-10px, -5px);
		}
	}
}


/**
* Disabled
*/

.btn_disabled {
	opacity: 0.5;
	cursor: default;
}

@media (min-width: $bp-sm) {
	.btn {
		max-width: 263px;
	}
}

@media (min-width: $bp-md) {
	.btn {
		max-width: 320px;
	}
}

@media (min-width: $bp-lg) {
	.btn {
		max-width: 354px;
		height: 68px;
	}
}

@media (min-width: $bp-xl) {
	.btn {
		max-width: 354px;
		height: 68px;
	}
}
