$padding-container: 15px;
.container {
	padding: 0 $padding-container  0 $padding-container;
	max-width: 320px + $padding-container - (32px - $padding-container) * 2;
}

@media (min-width: 640px)  {
	.container {
		max-width: 640px + $padding-container - (32px - $padding-container) * 2;
	}
}
@media (min-width: 768px)  {
	.container {
		max-width: 768px + $padding-container - (39px - $padding-container) * 2;
	}
}
@media (min-width: 1024px)  {
	.container {
		max-width: 1024px + $padding-container - (59px - $padding-container) * 2;
	}
}
@media (min-width: 1366px)  {
	.container {
		max-width: 1366px + $padding-container - (122px - $padding-container) * 2;
	}
}
