.feedback {
	color: #FFFFFF;
	margin: 0 auto;
}

.form-fields {
	margin-top: -46px;
	.btn {
		max-width: 200px;
		margin-top: 46px;
	}
	&__field {
			margin-top: 46px;
	}
}

@media (min-width: $bp-sm) {
	.form-fields {
		.btn {
			max-width: 344px;
		}
		&__field {
		}
	}
}

@media (min-width: $bp-md) {
	.form-fields {
		margin-top: -70px;
		.btn {
			max-width: 364px;
			margin-top: 70px;
		}
		&__field {
			margin-top: 70px;
		}
	}
}

