.feedback {
	color: #FFFFFF;
	margin: 0 auto;
}

.form-fields {
	&__field {

		.btn {
			max-width: 200px;
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

@media (min-width: $bp-sm) {
	.form-fields {
		&__field {
			.btn {
				max-width: 344px;
			}
		}
	}

}

@media (min-width: $bp-md) {
	.form-fields {
		&__field {
			.btn {
				max-width: 364px;
			}

			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

}

