.icon {
	transition:  color $transition_speed ease-out;
	position: relative;
	margin-bottom: 70px;
	&::after {
		content: "";
		opacity: 0;
		width: 50%;
		border: 1px solid #FFFFFF;
		margin-top: 50px;
		margin-bottom: 5px;
		position: absolute;
		transform: translateX(-50%);
		transition:  opacity $transition_speed ease-out;


	}
	&__title {
		font: 30px/40px $font-secondary;
		letter-spacing: 0.6px;
		margin-bottom: 20px;
		margin-top: 30px;
	}
	&__line {
		opacity: 0;
		width: 50%;
		border: 1px solid #FFFFFF;
		margin-left: 25%;
		margin-top: 40px;
	}
	&__description {
		margin: 0 auto;
	}
	&:hover, &:focus {
		color: #ffffff;
		cursor: pointer;

		&__description {
			color: #ffffff;
		}
		&::after{
			opacity: 1;
		}
	}

}


@media (min-width: $bp-sm) {
	.icon{
		margin-bottom: 92px;
		&::after{
			margin-top: 64px;
		}
	}

}
@media (min-width: $bp-xl) {
	.icon {
		&::after {
			margin-top: 40px;
		}
	}
}
