
.feedback-input {
	background: inherit;
	outline: none;
	border: none;
	border-bottom: 2px solid #FFFFFF;
	color: #FFFFFF;
	font-family: $font_secondary;
	font-size: 20px;
	width: 100%;
}

.animated-input{
		position: relative;
	&__input{
		transition: $transition_speed;
		height: 34px;
		&_changed{
			height: 64px;
		}
	}
	&__label{
		transition: $transition_speed;

		position: absolute;
		font-size: 14px;
		&_focus{
			transform: translateY(-5px);
		}
		&_changed{
			font-size: 11px;
			color: $color_secondary;
		}
	}
}

@media (min-width: $bp-md) {
	.feedback-input {
		font-size: 40px;
	}
	.animated-input{
		&__input{
			height: 60px;
			&_changed{
				height: 100px;
			}
		}
		&__label{
			font-size: 24px;
			&_changed{
				font-size: 14px;
			}
		}
	}
}
@media (min-width: $bp-xl) {
	.feedback-input {
		font-size: 40px;
	}
	.animated-input{
		&__input{
			height: 60px;
			&_changed{
				height: 100px;
			}
		}
		&__label{
			font-size: 24px;
			&_changed{
				font-size: 14px;
			}
		}
	}
}

