
.feedback-input {
	background: inherit;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	border: none;
	border-bottom: 2px solid #FFFFFF;
	color: #FFFFFF;
	font-family: $font_secondary;
	width: 100%;
}

/**
* Error
*/

.feedback-input_error {
	border-color: $color-error;
}

.animated-input{
		position: relative;
	&__input{
		height: 64px;
		font-size: 20px;
		transition: $transition_speed;
	}
	&__label{
		transition: $transition_speed;
		position: absolute;
		bottom: 0;
		transform: translateY(-15px);
		font-size: 14px;
		&_focus{
			transform: translateY(-20px);
		}
		&_changed{
			transform: translateY(-50px);
			font-size: 11px;
			color: $color_secondary;
		}
	}
}

@media (min-width: $bp-md) {
	.animated-input{
		&__input{
			font-size: 40px;
			height: 102px;
		}

		&__label{
			font-size: 24px;
			transform: translateY(-25px);

			&_focus{
				transform: translateY(-30px);
			}
			&_changed{
				font-size: 14px;
				transform: translateY(-84px);
			}
		}
	}
}

