.wj-modal {
	background: #222;
	padding: 30px 20px;
	max-width: 260px;
	position: relative;
	.mfp-close{
		padding: 5px;
		top: 10px;
		right: 10px;
		width: 35px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		svg{
			display: block;
			color: rgba(255,255,255, .3);
		}
	}
}

@media (min-width: $bp-sm) {
	.wj-modal {
		.mfp-close{
			top: 30px;
			right: 30px;
			width: 60px;
			height: 60px;
			padding: 10px;
		}
		padding: 30px;

		max-width: 580px;

	}
}


@media (min-width: $bp-md) {
	.wj-modal {
		position: relative;
		padding: 70px 60px;
		max-width: 690px;
		.mfp-close{
			top: 42px;
			right: 36px ;
		}
	}
}

@media (min-width: $bp-lg) {
	.wj-modal {
		.mfp-close{
			right: 32px ;
		}
		padding: 76px 82px;
		max-width: 900px;
	}
}

@media(min-width: $bp-xl) {
	.wj-modal {
		.mfp-close{
			right: 42px ;
		}
		padding: 76px 96px;
		max-width: 930px;

	}
}
